*.iml
.idea/
/.idea/
local.properties
.kotlin/
kotlin-js-store/
.gradle/
**/.gradle/
build/
*.apk
*.aab
*.aar
!gradle/wrapper/gradle-wrapper.jar
xcuserdata
!src/**/build/
*.jks
*.keystore
release-keystore.jks
.DS_Store
/*.jks.b64
**/.DS_Store
captures
.externalNativeBuild
.externalNativeBuild/
.cxx
.cxx/
*.hprof
/captures
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/